{% extends 'base.html' %}

{% block title %}home{% endblock title %}

{% block container %}
{% load static %}
<div class="full-h row d-flex justify-content-center align-items-center">
    <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center order-1 order-md-2 my-5">
        <div class="card w-card shadow-lg align-items-center">
            <button type="" class="btn btn-primary btn-block">Almacenes</button>
            <button type="" class="btn btn-info btn-block">Usuarios</button>
            <button type="" class="btn btn-primary btn-block">Inventario</button>
            <button type="" class="btn btn-info btn-block" >Referencias</button>
        </div>
    </div>
</div>
{% endblock container %}





