{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block container %}
{% load static %}
<div class="full-h row d-flex justify-content-center align-items-center">
    <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center order-1 order-md-2 my-5">
        <div class="card w-card shadow-lg align-items-center">
            {% comment %} <img class="my-5 " src="{% static 'img/logo.png' %}" alt="" width="200px"> {% endcomment %}
            {% if error %}
            <div class="w-75 alert  mt-5 alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}

            <!-- url busca el nombre de una yrl y convertirla a una url normal 
            solo cambia un parametro en caso de cambio -->
            <form class="w-75 mb-5 mt-5" method="POST" action=" {% url "login" %}">
                {% csrf_token %}
                <!--    Es un token para realizar peticiones asi mismo CSRF-->
                <div class="form-group">
                    <input type="text" class="form-control" name="usuario" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="clave" placeholder="Clave">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Sing In</button>
            </form>

        </div>
        {% comment %} <div class="card w-card p-3 my-3 text-center shadow-lg">
            <span>¿No tienes una cuenta aun? <a class="text-decoration-none" href="">Registrate.</a> </span>
        </div> {% endcomment %}        
    </div>
</div>
{% endblock container %}