{% extends 'base.html' %}
{% block container %}
{% load static %}
<p>
    <a href="{% url "inventarios:new" %}">Agregar inventario</a>
</p>
<ul>
    {% for inventario in object_list %}
        <li>
            <p>{{ inventario.almacen }}</p>
            <p>{{ inventario.referencia }}</p>
            <p>{{ inventario.cantidad }}</p>
            <p>
                <a href="{% url "inventarios:detail" inventario.id %}">Ver</a> |
                <a href="{% url "inventarios:edit" inventario.id %}">Editar</a> |
                <a href="{% url "inventarios:delete" inventario.id %}">Borrar</a> 
            </p>
        </li>
    {% endfor %}
    
    <form method="POST" enctype="multipart/form-data"  
    action="{% url "inventarios:entrada" %}">
    {% csrf_token %}
        <input type="file" class="form-control" name="uploadedFile">
        <br>
        <button type="submit" id="button_id" value="Upload">Submit</button>
    </form>

    <a href="{% url "usuarios:home" %}">Regresar</a>
</ul>
{% endblock container %}